@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Management</h1><br />
    <p class="lead">Your #1 tool for quickly and easily maintaining stock on the sales floor.</p>
</div>