@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Management</h1><br />
    <p class="lead">Keep your merchandise out of the backroom and on the sales floor.<br>
        Use the Inventory Management App to quickly and easily maintain your stock.<br>
        Your management staff will thank you.</p>
</div>